@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Design a simple ASP.NET Core web app that displays the actual server time in the browser. -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>building Web apps with ASP.NET Core.</p>

    <p>Displays the actual server time: @ViewData["TimeStamp"] </p>



    <!-- Customize the CSHTML <h2> element with text of your choosing.-->
@{
    var message = "Welcome to site ASP.NET Core!";
    var day = DateTime.Now.DayOfWeek;
    var greetingMessage = message + " Today is: " + day;
}

<h2>The greeting is: @greetingMessage</h2>

</div>